.formPedido {
    top: 140px;
    left: 230px;
}

.formPedido .lblMesas {
    display: inline;
    white-space: pre-wrap;
}

.formPedido .mesas {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: burlywood;
    border-radius: 5px;
    display: inline;
    margin-left: 4px;
    width: 20px;
    height: 15px;
}

/* Contorno por fuera de la tabla */
.tabla-container {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    overflow: auto;
}

/* Estilo global de la tabla  */
.tabla-form {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 17px;
    border-spacing: 5.7px;
}

/* Esto es para alinear a la izquierda el titulo de la tabla */
.ttlo-form {
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

/* Para agregarle espacio a las cabeceras de la tabla */
.tabla-form thead tr {
    font-size: 16.5px;
    width: 100%;
    padding-bottom: 5px;
}

/*  */
.tabla-form th{
    white-space: nowrap;
    width: 33%;    
}


/* EMPEZAMOS CON EL tbody */

/* Esto es para darle el radio a la tabla */
.tabla-form tbody td {
    padding: 7px;
    font-size: 15px;
    border-radius: 10px;
}

/* Estilo zebra */
/* Empezamos con los tr impares */
tbody tr:nth-of-type(odd) {
    background: #2a2d30;

}

/* Los tr pares */
tbody tr:nth-of-type(even) {
    background: #343a40;
}


/* Para el input type checkbox */
/* Esto es para alinear los checkbox de la tabla */

.tabla-form tbody input {
    display: block;
    margin: 0 auto;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid white;
}

.tabla-form tbody input[type="checkbox"]:checked {
    border: px solid greenyellow;
    background-color: greenyellow;
}

/* Clase del boton */
.btnPedido {
    font-size: 18px;
    padding: 4px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: transparent;
    /* color de fuente */
    color: darkgray;
    border: 3px solid #715d42;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btnPedido:hover {
    font-style: oblique;
    font-weight: bold;
    color: black;
    border: 3px solid burlywood;
}

.btnPedido::after {
    content: "";
    background: burlywood;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    display: block;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
}

.btnPedido:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
}